/* Tablet */
@media (max-width: 1023px) {
   #nav .subnav a {
    padding: 5px 12px;
   }
   .place-buy-btn {
    padding: 15px 16px;
   }
   .contact-body .content {
    line-height: 2;
   }
   #footer .social .icon-social {
      font-size: 45px;
      margin: 0 8px;
   }
}
/* Mobile */
@media (max-width: 740px)
{
   .s-full-width {
      width: 100% !important;
   }
   #header {
    overflow: hidden;
   }
   #nav,
   #nav > li {
    display: block;
   }
   #nav > li {
      padding: 1px 0px;
   }
   #nav > li:first-child {
      display: inline-block;
   }
   #nav .subnav {
      position: initial;
      background-color: #333;
   }
   #nav .subnav a {
      color: #fff;
      padding: 0px 41px;
   }
   #header .search-btn {
    display: none;
   }
   #mobile-menu-btn {
      display: block;
   }
   #content .member-list {
      display: block;
   }
   .place-list {
      display: block;
   }
   #content .member-item {
      margin-top: 30px;
   }
   #content .member-img {
      width: 70%;
   }
   .place-item {
      margin-top: 20px;
   }
   .contact-body .content,
   .contact-body .form {
      float: none;
   }
   .contact-body .form {
      margin-top: 20px;
   }
   .form-name, .form-email {
      width: 100%;
   }
   .form-name {
      margin-bottom: 10px;
   }
}